/* nav_bar styles */

  
.navbar {
    /* background-color: #333; */
    overflow: hidden;
}

.navbar .buttons {
    float: right;
}
  
  .navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    color: teal;
  }
  
  .navbar a.active {
    color: teal;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
  
.navbar .icon {
    display: none;
  }
  
.navbar .name {
    float: left;
    color: black;
    font-weight: bold;  
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }